<ion-pane ng-controller="DashboardCtrl">     
          <ion-header-bar  align-title="left" class="agsBar agsHeaderBorder">
              <div class="buttons">
                <div class="ion-arrow-left-a ags_Ionic_Icon" menu-toggle="left" ></div>
              </div>
              <h1 class="title">Dashboard</h1>
              <div class="buttons">

                <button class="button button-icon ion-more" ng-controller="PopoverCtrl" ng-click="openPopover($event);"></button>  
              </div>
          </ion-header-bar>
          <ion-content>
              <loading></loading>
              <div class="item item-text-wrap">
                  <highchart id="chart1" config="dashBoardChart" class="span9" ></highchart>
               </div> 

            <div>
                 <div id="search-bar">
                      <label class="item-input-wrapper" id="search-input">
                        <!--<i class="icon ion-android-search placeholder-icon"></i>-->
                        <input type="text" placeholder="Search" ng-model="searchText">
                      </label>

               </div>                
                <ion-scroll>
                      <div ng-repeat="column in data.columns | filter:searchText"
                          ng-model = "project"
                          ng-value = "column.name">
                         <div class="card colorBand"  ng-class="{cardPopup: column.name == selected}"  ng-click="selectedProjectCard(column.name);">{{column.name}}
                             <div ng-show ="column.name == selected" class="ion-ios7-arrow-forward  ags_Ionic_Icon" style="float:right;" ng-click="gotoProjMetrics();"></div>
                          </div>
                      </div> 
                  </ion-scroll> 


              </div>

          </ion-content>
</ion-pane>