<ion-pane ng-controller="MainDashboardCtrl">
          <ion-header-bar  align-title="left" class="agsBar agsHeaderBorder">
              <div class="buttons">
                <div class="ion-arrow-left-a ags_Ionic_Icon" menu-toggle="left" ></div>
              </div>
              <h1 class="title">Main Dashboard</h1>
              <div class="buttons">
                <a class="ion-ios7-information-outline ags_Ionic_Icon"></a>
              </div>

          </ion-header-bar>
          <ion-content>

              <div class="list">

                <a class="item item-avatar agsHeaderBorder" href="#" style="overflow-y: scroll; height: {{(maxHeight/noOfItems) + 'px'}};">
                  <img src="img/loginIcon.jpg">
                  <h2>Project Status</h2>
                  <p>Back off, man. I'm a scientist.</p>
                </a>

                <a class="item item-avatar agsHeaderBorder" href="#" style="overflow-y: scroll; height: {{(maxHeight/noOfItems) + 'px'}};">
                  <img src="img/ags.png">
                  <h2>Compliance</h2>
                  <p>Back off, man. I'm a scientist.</p>
                </a>

                <a class="item item-avatar agsHeaderBorder" href="#" style="overflow-y: scroll; height: {{(maxHeight/noOfItems) + 'px'}};">
                  <img src="img/loginIcon.jpg">
                  <h2>RiskBurndown</h2>
                  <p>Back off, man. I'm a scientist.</p>
                </a>

                <a class="item item-avatar agsHeaderBorder" href="#" style="overflow-y: scroll; height: {{(maxHeight/noOfItems) + 'px'}};">
                  <img src="img/ags.png">
                  <h2>Impediments</h2>
                  <p>Back off, man. I'm a scientist.</p>
                </a>

            </div>



          </ion-content>
</ion-pane>