<ion-pane>
          <ion-header-bar  align-title="left" class="agsBar agsHeaderBorder">
              <div class="buttons">
                <button class="button" menu-toggle="left" >Left Button</button>
              </div>
              <h1 class="title">About</h1>              
          </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
       <p> InsideView is Alliance’s proprietary productivity platform comprised of integrated reports and dashboards that provide direct visibility and transparency ofthe progress and health of a project 24-7 during all stages of the project execution.</p> 
<p>Ultimately, InsideView accelerates product development and allows us to do business better.</p>

<p>RAPID reduces overhead activities for the team. Data is collected from day to day activities in JIRA and the CI environment. This eliminates having to depend on someone to generate metrics and project reports weekly or monthly. RAPID also alerts developers of any deviation from coding standards. Adopting RAPID as part of delivery empowers the team by understanding the impact of code being written and how they are performing as a team.</p>

<p>This white paper covers the development of the platform and its use in delivery projects to increase visibility across the entire software lifecycle.</p>
      </div>
    </div>
  </ion-content>
</ion-pane>
 