<div class="modal">
    
       <ion-header-bar class="{{choice}}">
            
        <div class="headerAlignment">
               <div class="icon ion-navicon" ng-click="closeModal();"></div>
               <div class="title" align-title="center">AGS Projects</div>               
           </div>
                    
       </ion-header-bar> 
        
    
    <ion-content>
        <div id="search-bar">
                <div class="item item-input-inset">
                  <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-android-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="searchText">
                  </label>
                </div>
       </div>
       <div class="list card">
        
        <ion-checkbox class="checkbox-energized" ng-repeat="item in devList | filter:searchText"
                      ng-model="item.checked" 
                      ng-checked="item.checked">
          {{ item.text }}
        </ion-checkbox>
                
      </div>
    </ion-content>
</div>