<ion-view title="Sites"  ng-controller="SitesCtrl" ng-init="getSites();">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-header-bar class="{{choice}}">
            
        <div class="headerAlignment">
               <div class="icon ion-navicon" ng-click="closeModal();"></div>
               <div class="title" align-title="center">AGS Projects</div>               
           </div>
                    
       </ion-header-bar> 
        
    
    <ion-content>
        <div id="search-bar">
                <div class="item item-input-inset">
                  <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-android-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="searchText">
                  </label>
                </div>
       </div>
       <div class="list card">
        
        <ion-checkbox class="checkbox-energized" ng-repeat="site in sitesList track by $index | filter:searchText"
                      ng-model="site.checked" 
                      ng-checked="site.checked">
          {{ site.title }}
        </ion-checkbox>
                
      </div>
    </ion-content>
</ion-view>
